* {
	box-sizing: border-box;
}

/* dodawanie fontów np ze str. "https://fonts.google.com/?query=ro&selection.family=Lato|Roboto" */

body {
	margin: 0;
	font-family: 'Lato', sans-serif;
	color: #291f1a;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

section {
	padding: 0 80px 100px;
	max-height: 100%; 
}
section h2 {
	font-size: 30px;
	font-weight: 300;
	margin-top: 60px;
	margin-bottom: 35px;
}

/* main menu Style start */
#main-nav {
	position: fixed;
	width: 100%;
	background-color: #fff;
	top: 0;
	right: 0;
}
#main-nav > ul {
	margin: 0;
	float: right;
}
#main-nav > ul > li {
	display: inline-block;
	outline-style: none;
}

#main-nav > ul > li > a {
	color: #1ac056;
	font-weight: 300;
	text-decoration: none;
}
#main-nav > ul > li > a:hover {
	color: #291f1a;
}
/* main menu styles STOP */

/* header styles START */
#main-header {
	background-image: url(../img/header-background.jpg);
	background-size: cover;
	background-position: center;
}

#main-header .main-header-content {
	padding: 30vh;
}
#main-header .main-header-content h1 {
	font-family: 'Roboto', sans-serif;
}
/* header styles STOP */

/* section about styles START */
#about {
	background-color: #f9fcfe;
	overflow: hidden;
}
#about > figure {
	width: 50%;
	float: left;
	margin: 0;
	text-align: center;
}
#about > article {
	width: 50%;
	float: left;
}
#about > figure > img {
	max-height: 350px;
	max-width: 100%;
	border: 15px #fff solid;
	border-radius: 15%;
}
/* section about styles STOP */

/* section skills START */

#skills > p {
	text-align: center;
}
#skills div#skills-icons {
	text-align: center;
}
#skills #skills-icons figure {
	display: inline-block;
}
#skills #skills-icons figure img {
	margin-bottom: 15px;
}

/* section skills STOP */

/* selection contact START */
#contact {
	background-color: #213b50;
	color: #fff;
	overflow: hidden;
}
#contact .contact-data {
	width: 50%;
	float: left;
}
#contact .contact-data h2 {
	width: 50%;
	float: left;
}
#contact .contact-data h2 span {
	color: green;
}
#contact .contact-data adress {
	font-style: normal;
	line-height: 25px;
	margin: 72px 0;
}
#contact .contact-data adress a {
	color: #1ac056;
}
#contact .contact-data .contact-social-icons a {
/*	display inline block*/
	display: inline-block;
	width: 38px;
	color: #fff;
	border: 1px solid #fff;
	text-align: center;
	font-size: 22px;
}
#contact .contact-data .contact-social-icons a:hover {
	color: #213b50;
	background-color: #fff;
}
#contact .contact-form {
	width: 50%;
	float: left;
	margin-top: 100px;
}
#contact .contact-form input {
	width: 100%;
	padding: 15px;
	background-color: darkblue;
	border: 0px;
	color: #fff;
}
#contact .contact-form input:focus,
#contact .contact-form textarea:focus {
	background-color: #213b50;
}
#contact .contact-form input[type="submit"] {
	background-color: green;
	color: #fff;
	width: auto;
	text-transform: uppercase;
	font-weight: 600;
	padding: 15px 30px;
	border: 1px #1ac056 solid;
	float: right;
}


/* selection contact STOP */

/* Portfolio section START */
#portfolio .portfolio-items {
	font-size: 0px;
}
#portfolio .portfolio-items .single-portfolio-item {
	height: 380px;
	width: 33.33%;
	display: inline-block;
	font-size: 22px;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
#portfolio-item-1 {
	background-image: url(../img/portfolio1.jpg);
}
#portfolio-item-2 {
	background-image: url(../img/portfolio2.jpg);
}
#portfolio-item-3 {
	background-image: url(../img/portfolio3.jpg);
}
#portfolio .portfolio-items .single-portfolio-item .item-mask {
	background-color: rgba(42,61,79,0.8);
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all 0.5s ease-in-out;
/* font-size: initial */
	position: absolute;
}
#portfolio .portfolio-items .single-portfolio-item .item-mask:hover {
	opacity: 1;
}

#portfolio .portfolio-items .single-portfolio-item .item-mask .item-mask-content {
	height: 360px;
	border: 1px solid #fff;
	margin: 10px;
	position: relative;
}
#portfolio .portfolio-items .single-portfolio-item .item-mask .item-mask-content .item-content-inner {
	color:aliceblue;
	right: 0;
	left: 0;
	transform: translateY(-50%);
	top: 50%;
	position: absolute;
	padding: 5px;
}

/* Portfolio section STOP */
